<section id="feature" class="about-bg-1">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2  class="pages-heading">
        Careers
      </h2>
      <hr>
      <p>As an TelligenTech IT professional your skills are foundational to your success. At TelligenTech, our success is dependent on the business, professional and technical skills of our consulting staff. We are committed to your personal growth so you can play a vital role in the Company’s success.</p>
      <!--<div class="collapse hook">-->
      <div>
        <p>TelligenTech understands the value employees place on continued learning, development and personal growth. We are as committed to your success as you are. At TelligenTech you will find many opportunities and events dedicated to your career growth and discover an honest commitment from the company to help you stay on track.</p>
      </div>
    </div>
  </div>
</section>
<section id="feature" class="about-bg-2">
  <div class="container">
    <div class="center wow fadeInDown">
      <h3>Client Service Managers</h3>
      <hr>
      <p>The Client Services team is dedicated to your success. Every TelligenTech consultant works with a Client Services Manager to help identify short and long term goals that map to key TelligenTech initiatives. Your CSM will also help you build peer networks, identify areas for personal growth and become part of the TelligenTech community. CSMs and consultants also work together to pursue appropriate career opportunities based on business needs, employee capabilities and interests.</p>
    </div>
  </div>
</section>
<section id="feature" class="about-bg-1">
  <div class="container">
    <div class="center wow fadeInDown">
      <h3>Career Diversity Promotes Career Longevity</h3>
      <hr>
      <p>One of the perks of working at a consulting company that serves national clients is the opportunity to expose yourself to a variety of industries and career options. Ability to explore new career paths, take on new challenges and expand their skill sets.</p>

    </div>
  </div>
</section>
<section id="feature" class="about-bg-2">
  <div class="container">
    <div class="center wow fadeInDown">
      <h3>Training Opportunities</h3>
      <hr>

      <p>At TelligenTech our consultants work daily to create new Information Technology solutions that ensure our clients will achieve their strategic goals. These solutions are only possible when every member of the TelligenTech team is committed to developing a strong and broad inventory of skills.</p>
      <p>TelligenTech provides our consultants with numerous opportunities to further develop their knowledge and abilities.</p>
      <ul>
        <li>Business Analysts(QA/Testing)</li>
        <li>Application Developemnt (Java/J2EE)</li>
        <li>Microsoft .NET/BIZZ TALK</li>
        <li>Databases ( Oracle/Teradata/SQL SERVER)</li>
        <li>Datawarehousing Technologies (ETL: Informatica/Datastage/Abinitio)</li>
        <li>Business Intelligence (Cognos/Microstrategy/QlikView/OBIEE/Tableau)</li>
        <li>Security ( IBM TIVOLI/ IBM SITEMINDER)</li>
      </ul>
    </div>
  </div>
</section>
<section id="feature" class="about-bg-1">
  <div class="container">
    <div class="center wow fadeInDown">
      <h3>Tuition Reimbursement</h3>
      <hr>
      <p>TelligenTech supports the continued education of our professional staff through our tuition reimbursement program. Course fees at accredited colleges and universities are eligible for reimbursement.</p>

    </div>
  </div>
</section>

<section id="feature" class="about-bg-2">
  <div class="container">
    <div class="center wow fadeInDown">
      <h3>Certification Reimbursement</h3>
      <hr>
      <p>TelligenTech encourages our employees to achieve and maintain technical certifications and many other professional designations. In most cases these fees are 100% reimbursable.</p>
      <p>Click on the <a href="http://www.telligentech.com/jobs">Job listing link</a> to checkout our opening and apply for them</p>
    </div>
  </div>
</section>


