<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Careers</h2>
        <hr class="primary">
      </div>
    </div>
    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/1.jpg" class="img-responsive portfolio-box">
          <img src="images/thumbnail-1.jpg" class="img-responsive" alt="">

          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Client Service Managers
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/2.jpg" class="img-responsive portfolio-box">
          <img src="images/thumbnail-2.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Career Diversity Promotes Career Longevity
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/3.jpg" class="img-responsive portfolio-box">
          <img src="images/thumbnail-3.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Training Opportunities
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/4.jpg" class="img-responsive portfolio-box">
          <img src="images/thumbnail-4.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Tuition Reimbursement
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/5.jpg" class="img-responsive portfolio-box">
          <img src="images/thumbnail-5.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Certification Reimbursement
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="img/portfolio/fullsize/6.jpg" class="img-responsive portfolio-box">
          <img src="images/thumbnail-6.jpg" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Other Career Oppurtunities
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
