<section id="feature" class="transparent-bg">
  <div class="container">
    <div class="center wow fadeInDown">
      <h2 class="pages-heading">
        Career Openings
      </h2>
      <hr>
      <p>Telligen Tech Inc. has multiple openings:</p>
      <h3>Programmer Analysts</h3>
      <p><strong>Job Description: </strong>Gather data from clients and prepare software requirements & specs, prep flow charts. Work from specs, develop & write computer programs. Provide design, test, debug and implement software apps. Involve in full life cycle development. Interface with users on technical issues relating to computer programs. Participate in system & database meetings to develop modules & projects.</p>
      <p>Travel and relocation possible.</p>
      <p><strong>Work location: </strong>Columbus, OH.</p>
      <p><strong>Posted Date: </strong>05/03/2016</p>
      <p><strong>How to Apply: </strong>Mail resume, salary requirement, position applied for to: Telligen Tech Inc., 2740 Airport Dr., Suite 190, Columbus, OH 43219.</p>
      <p><strong>Email: </strong><a href="mailto:hr@telligentech.com">hr@telligentech.com</a>/<a href="mailto:careers@telligentech.com">careers@telligentech.com</a></p>
      <p></p>
      <!--<div class="collapse hook">
        <div>
        </div>
      </div>
      <div class="collapse" id="collapseAboutUs">
        <div class="lead card card-block">
        </div>
      </div>
      <a class="btn btn-primary hook in" data-toggle="collapse" href=".hook"
         aria-expanded="false" aria-controls="collapseAboutUs">
        Read More
      </a>-->
    </div>
    <div class="center wow fadeInDown">
      <h2>
        Systems Analysts
      </h2>
      <p><strong>Job Description: </strong>Prepare project plans, involve in project definition, requirements definition, analysis, design, testing, system documentation, project management, handle system development life cycle on small/intermediate development/enhancement projects, develop complete external sys design specs, test, maintain, and monitor computer programs and sys, coordinate and link comp sys to increase compatibility & ensure that data is shared effectively, support end users in resolving sys implementation issues, expand/modify sys to serve new purposes and to improve workflow.</p>

      <!--<div class="collapse hook">-->
        <div>
          <p>Travel and relocation possible.</p>
          <p><strong>Work location: </strong>Columbus, OH.</p>
          <p><strong>Posted Date: </strong>05/03/2016</p>
          <p><strong>How to Apply: </strong>Mail resume, salary requirement, position applied for to: Telligen Tech Inc., 2740 Airport Dr., Suite 190, Columbus, OH 43219.</p>
          <p><strong>How to Apply: </strong>Mail resume, salary requirement, position applied for to: Telligen Tech Inc., 2740 Airport Dr., Suite 190, Columbus, OH 43219.</p>
          <p><strong>Email: </strong><a href="mailto:hr@telligentech.com">hr@telligentech.com</a>/<a href="mailto:careers@telligentech.com">careers@telligentech.com</a></p>
        </div>
      <!--</div>-->
      <!--<div class="collapse" id="collapseOurValues">
        <div class="lead card card-block">
        </div>
      </div>
      <a class="btn btn-primary hook in" data-toggle="collapse" href=".hook"
         aria-expanded="false" aria-controls="collapseOurValues">
        Read More
      </a>-->
    </div>
    <div class="center wow fadeInDown">
    <h2>
      Programmer Analysts
    </h2>
    <p><strong>Job Description: </strong>Gather data from clients and prepare software requirements & specs, prep flow charts. Work from specs, develop & write computer programs. Provide design, test, debug and implement software apps. Involve in full life cycle development. Interface with users on technical issues relating to computer programs. Participate in system & database meetings to develop modules & projects.</p>

    <!--<div class="collapse hook">-->
      <div>
        <p><strong>Work location: </strong>Columbus, OH.</p>
        <p><strong>Posted Date: </strong>08/24/2015</p>
        <p><strong>How to Apply: </strong>Mail resume, salary requirement, position applied for to: Telligen Tech Inc., 2740 Airport Dr., Suite 190, Columbus, OH 43219.</p>
        <p><strong>How to Apply: </strong>Mail resume, salary requirement, position applied for to: Telligen Tech Inc., 2740 Airport Dr., Suite 190, Columbus, OH 43219.</p>
        <p><strong>Email: </strong><a href="mailto:hr@telligentech.com">hr@telligentech.com</a>/<a href="mailto:careers@telligentech.com">careers@telligentech.com</a></p>
      </div>
    <!--</div>-->
    <!--<div class="collapse" id="collapseOurValues">
      <div class="lead card card-block">
      </div>
    </div>
    <a class="btn btn-primary hook in" data-toggle="collapse" href=".hook"
       aria-expanded="false" aria-controls="collapseOurValues">
      Read More
    </a>-->
  </div>


    </div><!--/.container-->
</section><!--/#feature-->
