<div ng-controller="MainCtrl">
<header>
  <div class="header-background">
    <div class="header-content animated fadeInDown">
      <div class="header-content-inner">
        <h1>Vision, Passion and Commitment</h1>
        <hr>
        <!--<p>An app for parents to communicate with kids at the daycare or a playschool.</p>-->
        <p>Our overall purpose is to identify top talent to meet the specialized needs of our clients and to offer challenge, growth and opportunity to our candidates. We are built on integrity, professionalism and reliability.</p>
        <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
      </div>
    </div>
  </div>
</header>
<!--<section class="no-padding" id="portfolio">
  <div class="container training-section-background"  when-visible="animateElementIn"
       when-not-visible="animateElementOut">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in trainingServices" active="slide.active">
        <div class="row animated">
          <div class="col-lg-6 col-md-6 text-center">
            <div class="training-box">
              <h1>{{slide.title}}</h1>
              <h4>{{slide.subtext}}</h4>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="training-box">
              <img src="{{slide.image}}" alt="">
            </div>
          </div>
        </div>

      </slide>
    </carousel>
  </div>
</section>-->
<section class="bg-primary" id="about">
  <div class="bg-primary-container">
    <div class="row">
        <div class="row animated fadeInDown">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-laptop wow bounceIn text-primary"></i>
              <h3>Application development</h3>
              <p>Application Development Services offered by TelligenTech help streamline business processes, systems and information.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".1s"></i>
              <h3>Project Management</h3>
              <p>We are a business-to-business provider of project management services. Our largest practice area is software development project management.
              </p>
            </div>
          </div>
          <div class="row animated fadeInDown">
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                <h3>Business Intelligence</h3>
                <p>Business Intelligence (BI) facilitates businesses to perform management by “facts”.Telligen Tech helps you in your quest for business excellence with a BI-guided roadmap.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                <i class="fa fa-4x fa-list-ol wow bounceIn text-primary" data-wow-delay=".2s"></i>
                <h3>Identity and Access Management</h3>
                <p>Access management is about managing consistent sets of access control policies across enterprise systems.</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
  <section class="bg-primary" id="about-us">
    <div class="bg-primary-container">
      <div class="bg-primary-container-about-us">
        <h1>About Us</h1>
        <hr>
        <p>Founded in 2012, TelligenTech is a Technology powerhouse with a vision of bringing actionable accomplishments to masses.</p>
        <div class="row animated fadeInDown">
          <div class="col-lg-3 col-md-6 text-center">
            <img src="images/feature-img-1.png" alt="">
          </div>
          <div class="col-lg-9 col-md-9 text-center">
            <div class="service-box">
              <h3>Who we are?</h3>
              <hr>
              <p>Founded in 2012, TelligenTech is a Technology powerhouse with a vision of bringing actionable accomplishments to masses.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary-container-about-us-2">
        <div class="col-lg-4 col-md-4 text-center">
          <div class="service-box">
            <h3>Application development</h3>
            <p>Application Development Services offered by TelligenTech help streamline business processes, systems and information.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
          <div class="service-box">
            <h3>Project Management</h3>
            <p>We are a business-to-business provider of project management services. Our largest practice area is software development project management.
            </p>
          </div>
        </div>
        <div class="row animated fadeInDown">
          <div class="col-lg-4 col-md-4 text-center">
            <div class="service-box">
              <h3>Business Intelligence</h3>
              <p>Business Intelligence (BI) facilitates businesses to perform management by “facts”.Telligen Tech helps you in your quest for business excellence with a BI-guided roadmap.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="clients-section-background" id="portfolio-2">
    <div class="bg-primary-container-clients">
      <h1 class="text-center">READY FOR YOUR INDUSTRY</h1>
        <div class="row animated wow slideInLeft">
            <div class="col-lg-3 col-md-3 text-center client-tiles">
              <div class="domains-box">
                <i class="fa fa-4x fa-shield wow bounceIn text-primary-application"></i>
                <h3>INSURANCE</h3>
                <hr>
                <h3>Deliver the best patient experience you can.</h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center client-tiles">
              <div class="domains-box">
                <i class="fa fa-4x fa-usd wow bounceIn text-primary-application" data-wow-delay=".1s"></i>
                <h3>FINANCE</h3>
                <hr>
                <h3>Make better clinical decisions.</h3>
                </p>
              </div>
            </div>
          </div>
          <div class="row animated wow slideInLeft">
            <div class="col-lg-3 col-md-3 text-center client-tiles">
              <div class="domains-box">
                <i class="fa fa-4x fa-heartbeat wow bounceIn text-primary-application"></i>
                <h3>HEALTHCARE</h3>
                <hr>
                <h3>Deliver the best patient experience you can.</h3>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 text-center client-tiles">
              <div class="domains-box">
                <i class="fa fa-4x fa-shopping-cart wow bounceIn text-primary-application" data-wow-delay=".1s"></i>
                <h3>E-COMMERCE</h3>
                <hr>
                <h3>Understand trade promotions in-depth.</h3>
                </p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="no-padding main-techology-background" id="portfolio-1">
    <div class="container client-data-section-background">
      <div class="container client-data-section-container">
        <div class="row animated">
          <div class="col-lg-12 col-md-12 text-center">
            <h1>Get the data on Telligen Tech</h1>
            <div class="col-lg-3 col-md-6 text-center wow bounceIn">
              <div class="service-box">
                <h1>4</h1>
                <h4>years in business</h4>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center wow bounceIn">
              <div class="service-box">
                <h1>5000+</h1>
                <h4>engagements</h4>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center wow bounceIn">
              <div class="service-box">
                <h1>8 years</h1>
                <h4>average customer tenure</h4>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center wow bounceIn">
              <div class="service-box">
                <h1>50+</h1>
                <h4>of The Global 250</h4>
              </div>
            </div>

          </div>
          <div class="row animated fadeInDown">
            <div class="col-lg-12 col-md-12 text-center">
              <div class="col-lg-3 col-md-6 text-center wow bounceIn">
                <div class="service-box">
                  <h1>5x</h1>
                  <h4>faster time to value than other offerings</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow bounceIn">
                <div class="service-box">
                  <h1>2 of 3</h1>
                  <h4>top pharma companies as customers</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow bounceIn">
                <div class="service-box">
                  <h1>$30 million</h1>
                  <h4>yearly fraud avoided for insurance customers</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center wow bounceIn">
                <div class="service-box">
                  <h1>418%</h1>
                  <h4>ROI, payback less than 6 months</h4>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="bg-primary-container-contact-us" id="about-us">
    <div class="bg-primary-container">
      <div class="bg-primary-container-about-us">
        <h1>Contact Us</h1>
        <hr>
        <p>Founded in 2012, TelligenTech is a Technology powerhouse with a vision of bringing actionable accomplishments to masses.</p>
          <div class="col-lg-6 col-md-6 text-center">
            <form class="form-horizontal" role="form" ng-submit="contactUsController.saveContact()">
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="text" placeholder="Name" ng-model="name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" placeholder="Enter Email Address" ng-model="email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="subject" placeholder="Subject" ng-model="subject">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6 col-md-6">
            <p>2740 Airport Drive, Suite 190, Columbus, OH 43219 4449</p>
            <p>(614) 934-1554</p>
            <p>+0987654321 (+012345678)</p>
          </div>
        </div>
      </div>
  </section>
</div>
